body {
    background-color: navajowhite;
}
.Beginning {
    font-size: large;
    margin: 30px;
    padding: 30px;
    text-align: center;
}
.B {
    color: lightseagreen;
}

.S {
    color: dimgrey;
}

.MK {
    color: royalblue;
}

.M {
    color: deepskyblue;
}

.T {
    color: darkseagreen;
}
.SSBU {
    color: deeppink;
}

.Mario {
    color: red;
}

#footer:hover {
    color: navajowhite;
    background-color: black;
}

#H {
    text-align: center;
    border: 5px solid rebeccapurple;
}

a:hover {
    color: navajowhite;
    background-color: black;
}

p {
    color: black;
}